<h1 id="page_title">Video's I've Made</h1>

  <div id="posts_wrapper" class="skinny_wrapper">
    <% @videos.each do |video| %>
    <div class="post">
      <p class="date"><%= video.created_at.strftime('%A, %B %d')%></p>
      <h2><a href="#"><%= link_to video.title, video %></a></h2>
      <hr>
    </div>
    <% end %>
  </div>