<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm an entrepreneur &amp; Ruby on Rails aspiring developer living in Madrid, Spain.</p>
    <p>I work by day to polish my skills as a RoR Developer  at <a href="#">Home</a>  &amp; learn <a href="">Data Science</a> as a hobby.</p>
    <p>You can find my speaking on Twitter, showing something on github.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
    	<h3><a href="#"><%= link_to post.title, post  %></a></h3>
    	<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Build</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project  %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
    
  </div>
</div>